@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Space+Grotesk:wght@300..700&display=swap'); /* Share Tech Mono - Designed by Carrois Apostrophe */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root
{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    @apply bg-white text-black;
  }
  
  .dark body {
    @apply bg-zinc-900 text-white;
  }

hr {
  @apply text-zinc-500;
}
::-webkit-scrollbar{
    display: none;
}
@media print {
  .no-print {
    display: none !important;
  }
  .print-only{
    display: contents !important;
  }
}

.print-only{
    display: none;
  }

.link{
  text-decoration: underline;
}
.link:hover
{
  @apply dark:text-zinc-400 text-zinc-500;
  font-weight: 600;
}

.bullet-li
{
  list-style-type: circle;
}